azure-identity==1.25.1
openai==1.109.1
python-dotenv==1.1.1
pydantic==2.12.2
rich==14.2.0
azure-ai-inference==1.0.0b9
dotenv-azd==0.3.0
aiohttp==3.13.0
faker==37.11.0
autogen-agentchat==0.7.5
autogen-ext[openai]==0.7.5
openai-agents==0.3.3
semantic-kernel==1.37.0
langgraph==0.6.10
langchain==1.0.0a15
langchain-openai==0.3.34
pydantic-ai==1.0.8
llama-index==0.14.5
llama-index-llms-azure-openai==0.4.2
llama-index-llms-openai-like==0.5.3
llama-index-embeddings-azure-openai==0.4.1
smolagents==1.22.0
langchain-mcp-adapters==0.1.11
agent-framework-core==1.0.0b251007
